<appSettings>
    <add key="TFS_URL" value="https://tfs.themdu.com:9060/tfs/MDU/Repo/_home"/>
    <add key="COMPASS_URL" value="http://dsv16721/Jasper/"/>
    <add key="COMPASS_USR" value="svc-r-DailyCheck_WebAutomation"/>
    <add key="COMPASS_PWD" value="passmdu"/>
    <add key="COMPASS_DB" value="DSV16720"/>
</appSettings>