<appSettings>
	<add key="BROWSER" value="CR"/>
	<!--<Telent Elements/>-->
	<add key="Telent_URL" value="http://172.16.0.61/SOLO/index.aspx"/>
	<add key="Telent_UserID" value="balasubramanian.n@changepond.com"/>
	<add key="Telent_Password" value="POwer.12"/>
	<add key="Telent_Workstream" value="Cable"/>
	<add key="WindowTitle_CopyJob" value="Copy Job"/>
	<add key="WindowTitle_JobInfo" value="SOLO - Enterprise Management System"/>


	<!--<Telent SM Elements/>-->
	<add key="Telent_PreProd_SM_URL" value="https://www.sandbox.manage-roadworks.service.gov.uk/"/>
	<add key="SM_Emailaddress" value="sscillycounciluser@gmail.com"/>
	<add key="SM_Password" value="Council_1"/>	
</appSettings>
