<appSettings>    
    <add key="TFS_URL" value="https://tfs.themdu.com:9060/tfs/MDU/Repo/_home"/>
    <add key="COMPASS_URL" value="http://usv16722/Jasper"/>
    <add key="COMPASS_USR" value="svc-r-DailyCheck_WebAutomation"/>
    <add key="COMPASS_PWD" value="passmdu"/>
    <add key="COMPASS_DB" value="USV16723"/>
    <add key="ApplicationForm_URL" value="https://applicationforms.uat.themdu.com/mdu_online_app_forms/" />
    <add key="ApplicationFormDDU_URL" value="https://nsv16322.mdu.local/MDU_Online_App_Forms/dDU_Welcome.aspx" />
    <add key="MDU_URL" value="https://192.168.17.55/MDU_Online_App_Forms/MDU_Register.aspx?ApplicationTypeId=11" />
    <add key="Valid Password" value="Tester1234" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EMAIL" value="Natarajan.Rajendiran@DEV.MDU.local"/>
    <add key="EMAIL_PWD" value="Cr3ditC4rd!!"/>
</appSettings>